<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>login page</title>
  </head>
  <body>
    <!-- add the header file -->
    <%- include('comman/header'); %>
    <!-- (-) using this to indicate this is html file -->
    <h1>
      this is login pages
      <!--  ise bhi hun html_page me hi rander karenge -->
    </h1>
  </body>
</html>
