<head>
  <style>
    /* h3 {
      /* background-color: red; } */
  </style>
</head>
<nav>
  <h3>header file</h3>
  <!-- add this file to login file  -->
</nav>

<!-- middleware -->
<!-- middleware kko hum route ke sath use karte h  -->
<!-- isse req,res ko access kr sakte h aur usme modify kar sakte -->
